@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    string a = "", f = "", n = "", m = "", s = "", c = "", e = "", o = "", r = "", cl = "active";
    switch (controller) {
        case "Animals":
            a = cl;
            break;
        case "Feed":
            f = cl;
            break;
        case "Note":
            n = cl;
            break;
        case "Medication":
        case "FullMedical":
            m = cl;
            break;
        case "SurgicalNote":
            s = cl;
            break;
        case "CageLocationHistory":
            c = cl;
            break;
        case "EthicsNumberHistory":
            e = cl;
            break;
        case "Relationships":
            o = cl;
            break;
        case "ClinicalIncidentReports":
            r = cl;
            break;
    }
}

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">@Html.ActionLink("Animal Details", "Details", "Animals", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + a })</li>
    <li class="nav-item">@Html.ActionLink("Feeds/Weight", "Details", "Feed", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + f})</li>
    <li class="nav-item">@Html.ActionLink("Notes", "Index", "Note", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + n })</li>
    <li class="nav-item">@Html.ActionLink("Medication", "Index", "Medication", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + m })</li>
    <li class="nav-item">@Html.ActionLink("Surgical Notes", "Index", "SurgicalNote", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + s })</li>
    <li class="nav-item">@Html.ActionLink("Cage Location", "Index", "CageLocationHistory", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + c })</li>
    <li class="nav-item">@Html.ActionLink("AUP Number", "Index", "EthicsNumberHistory", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + e })</li>
    <li class="nav-item">@Html.ActionLink("Relationships", "Details", "Relationships", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + o })</li>
    <li class="nav-item">@Html.ActionLink("Reports", "Index", "ClinicalIncidentReports", new { id = ViewBag.AnimalId }, new { @class = "nav-link " + r })</li>
</ul>