@model IEnumerable<AnimalDB.Repo.Entities.Animal>

@if (string.IsNullOrEmpty(ViewBag.BackToGroups))
{
    @section BackNav {
        <a class="btn btn-sm btn-secondary" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Back to Rooms</a>
    }
}
else
{
    @section BackNav {
        <a class="btn btn-sm btn-secondary" href="@Url.Action("Groups", "Feed", new { id = ViewBag.FeedingGroup })"><i class="fas fa-arrow-left"></i> Back to Groups</a>
    }

}
<h2>Animals in @ViewBag.RoomName</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueAnimalId)
            </th>
            <th>
                AUP Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueAnimalId)
                </td>
                <td>
                    @(item.EthicsNumbers.OrderByDescending(m => m.Timestamp).FirstOrDefault()?.EthicsNumber.Text)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", "Animals", new { id = item.Id }, new { @class = "btn btn-outline-dark " })
                </td>
            </tr>
        }
    </tbody>
</table>