@model IEnumerable<AnimalDB.Repo.Entities.Room>

@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Admin")"><i class="fas fa-arrow-left"></i> Back to Admin</a>
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New Room", "Create", null, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUpdates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Technician.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailUpdates)
                </td>
                <td>
                    @Html.ActionLink("View Animals", "Animals", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                    @Html.ActionLink("View / Edit", "Edit", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>
