@model IEnumerable<AnimalDB.Models.PupsByEthicsViewModel>

@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Admin")"><i class="fas fa-arrow-left"></i> Back to Admin</a>
}

<h2>Culled Pups By AUP Number</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ethics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFemale)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.Ethics))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ethics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFemale)
                </td>
            </tr>
        }
    </tbody>
</table>
