@model IEnumerable<AnimalDB.Models.PupsByEthicsViewModel>

<h3>@Html.ActionLink("Back", "Index", "Admin", null, new { @class = "btn btn-primary" })</h3>

<h2>Culled Pups By AUP Number</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ethics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFemale)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.Ethics))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ethics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFemale)
                </td>
            </tr>
        }
    </tbody>
</table>
