@model AnimalDB.Repo.Entities.MedicationFollowUp

<h3>
    @if (string.IsNullOrEmpty(Request["medid"])) {
        @Html.ActionLink("Back", "FollowUps", new { id = ViewBag.Animal_Id }, new { @class = "btn btn-primary" })
    }else {
        @Html.ActionLink("Back", "Index", new { id = ViewBag.Animal_Id }, new { @class = "btn btn-primary" })
    }
</h3>

<h2>Administer Medicine to @ViewBag.AnimalName</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Timestamp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Timestamp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Timestamp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medication_Id, "Medication", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Medication_Id", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Medication_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-success " />
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/Scripts/jquery.validate*", "~/Scripts/moment.js", "~/Scripts/bootstrap-datetimepicker.js");
    <script>
        $(".date").datetimepicker();
    </script>
}
