@model IEnumerable<AnimalDB.Repo.Entities.EthicsNumber>

@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Request["returnUrl"]"><i class="fas fa-arrow-left"></i> Back</a>
}

<h2>Archived AUP Numbers</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investigator)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.OrderByDescending(m => m.StartYear))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
                @if (item.EthicsNumberHistory.Where(m => m.EthicsNumber.Id == item.Id && m.Animal.EthicsNumbers.OrderByDescending(n => n.Timestamp).FirstOrDefault().Ethics_Id == m.Ethics_Id).Count() == 1)
                {
                    <text>(1 animal)</text>
                }
                else
                {
                    <text>(</text>@item.EthicsNumberHistory.Where(m => m.EthicsNumber.Id == item.Id && m.Animal.EthicsNumbers.OrderByDescending(n => n.Timestamp).FirstOrDefault().Id == m.Id).Count() <text>animals)</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigator.FullName)
            </td>
        </tr>
    }

</table>
