@model IEnumerable<AnimalDB.Repo.Entities.EthicsNumber>
@{ 
    int total = 0, totalAlive = 0, tmpTotal = 0, tmpTotalAlive = 0;
}

<h3>@Html.ActionLink("Back to Admin", "Index", "Admin", null, new { @class = "btn btn-primary" })</h3>

<h2>AUP Numbers</h2>

<p>
    @Html.ActionLink("Create New AUP Number", "Create", new { returnUrl = Url.Action() }, new { @class = "btn  btn-outline-dark" })
    @Html.ActionLink("Archived AUP Numbers", "Archived", new { returnUrl = Url.Action() }, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Total
            </th>
            <th>
                Alive
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investigator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @{
                        tmpTotal = item.EthicsNumberHistory.Where(m => m.EthicsNumber.Id == item.Id && m.Animal.EthicsNumbers.OrderByDescending(n => n.Timestamp).FirstOrDefault().Id == m.Id).Count();
                        <text>@tmpTotal</text>
                        total+= tmpTotal;
                    }
                </td>
                <td>
                    @{ 
                        tmpTotalAlive = item.EthicsNumberHistory.Where(m => m.EthicsNumber.Id == item.Id && !m.Animal.DeathDate.HasValue && m.Animal.EthicsNumbers.OrderByDescending(n => n.Timestamp).FirstOrDefault().Id == m.Id).Count();
                        <text>@tmpTotalAlive</text>
                        totalAlive += tmpTotalAlive;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investigator.FullName)
                </td>
                <td>
                    @Html.ActionLink("Add/View Animals", "AddTo", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                    @Html.ActionLink("Archive", "Archive", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                </td>
            </tr>
        }
            <tr>
                <th>Total:</th>
                <th>@total</th>
                <th>@totalAlive</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>
