@model AnimalDB.Repo.Entities.FeedingGroup
@{
    string groupdatedropdown = "<select id=\"groupdatedropdown\" class=\"form-control\">";
    string removegroupdatedropdown = "<select id=\"removegroupdatedropdown\" class=\"form-control\">";
    int count = 0;
}

<div class="feeding">
    @using (Html.BeginForm())
    {
        <input type="hidden" name="state" value="" id="state" />
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FirstFeed)
        @Html.HiddenFor(m => m.Description)
        @Html.HiddenFor(m => m.Room_Id)
        <div class="row">
            <div class="col-md-1">
                <div class="headercontainer">
                    <table class="titles">
                        <tr><td>Group</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr><td>Base weight</td></tr>
                        <tr><td>85% Base</td></tr>
                        <tr class="blankrow"><td></td></tr>
                    </table>
                </div>
                <div class="feedingtable feedingmargin">
                    <table>
                        @for (DateTime start = DateTime.Now.Date.AddDays(-13); start <= DateTime.Now.Date; start = start.AddDays(1))
                        {
                            string c = "";
                            if (start.DayOfWeek == DayOfWeek.Saturday || start.DayOfWeek == DayOfWeek.Sunday)
                            {
                                c = "class=weekend";
                            }

                            <tr @c>
                                <td>
                                    <span class="dropdown">
                                        @if (start.Date == DateTime.Now.Date)
                                        {
                                            if (Model.Animals.Count(m => m.LastChecked.Date == DateTime.Today.Date) == Model.Animals.Count())
                                            {
                                                <button title="All animals checked" type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="fas fa-check-circle"></span>
                                                </button>
                                                
                                            }
                                            else if (Model.Animals.Count(m => m.LastChecked.Date == DateTime.Today.Date) == 0)
                                            {
                                                <button title="Animals not checked" type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="fas fa-times-circle"></span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button title="Some animals not checked" type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="fas fa-exclamation-circle"></span>
                                                </button>
                                            }
                                        }
                                        else if (Model.Animals.Count(m => m.MissedChecks.Count(n => n.Timestamp.Date == start.Date) != 0) == 0)
                                        {
                                            <button title="All animals checked" type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fas fa-check-circle"></span>
                                            </button>
                                        }
                                        else if (Model.Animals.Count(m => m.MissedChecks.Count(n => n.Timestamp.Date == start.Date) != 0) == Model.Animals.Count())
                                        {
                                            <button title="Animals not checked" type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fas fa-times-circle"></span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button title="Some animals not checked" type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fas fa-exclamation-circle"></span>
                                            </button>
                                        }
                                        <span class="dropdown-menu">
                                            @foreach (var animal in Model.Animals)
                                            {
                                                if (animal.MissedChecks.Count(m => m.Timestamp.Date == start.Date) != 0 || (start.Date == DateTime.Now.Date && animal.LastChecked.Date != DateTime.Now.Date))
                                                {
                                                    <a class="dropdown-item" href="#"><span class="text-danger fas fa-times-circle"></span> @animal.UniqueAnimalId</a>
                                                }
                                                else
                                                {
                                                   <a class="dropdown-item" href="#"><span class="text-success fas fa-check-circle"></span> @animal.UniqueAnimalId</a>
                                                }
                                            }
                                        </span>
                                    </span>
                                    @start.ToString("dd-MMM")
                                </td>
                            </tr>


                            groupdatedropdown += "<option value=\"" + count + "\">" + start.ToString("dd-MMM") + "</option>";
                            removegroupdatedropdown += "<option value=\"" + count + "\">" + start.ToString("dd-MMM") + "</option>";
                            count++;
                        }
                        @{
                            groupdatedropdown += "</select>";
                            removegroupdatedropdown += "</select>";
                        }
                        <tr class="blankrow"><td></td></tr>
                    </table>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    @Html.EditorFor(m => m.Animals)
                </div>
            </div>
        </div>

        @Html.ActionLink("Cancel", "Groups", new { id = Model.Room_Id }, new { @class = "btn  btn-danger" })
        
        <button type="button" data-toggle="modal" data-target="#removefeedgroupmodal" class="btn btn-outline-dark ">Remove a group feed</button>
        

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input id="visualCheck" type="checkbox" autocomplete="off" />All visually checked
            </label>
            <button type="button" id="btnGroup" data-toggle="modal" data-target="#feedgroupmodal" class="btn btn-danger ">Feed group</button>
            <button type="button" id="btnPrevious" data-bind="click:FeedPrevious" class="btn btn-danger ">Feed previous</button>
            <button type="button" id="btnFinish" data-bind="click:SaveAndFinish" class="btn btn-danger ">Save and finish</button>
        </div>
        
    }
</div>

<div class="modal fade" id="feedgroupmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Enter amount to feed the group:</h4>
            </div>
            <div class="modal-body">
                <label style="display: inline-table">
                    Amount in grams: <input type="text" class="form-control" id="feedgroupvalue" />
                </label>
                <label style="display: inline-table">
                    Group: <select id="groupdropdown" class="form-control">@Html.Raw(ViewBag.Groups)</select>
                </label>
                <label style="display: inline-table">
                    Date to feed: @Html.Raw(groupdatedropdown)
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary @if (string.IsNullOrEmpty(ViewBag.Groups)) { <text>disabled</text> } " data-bind="click:FeedGroup">Feed</button>
</div>

</div>

</div>
</div>


<div class="modal fade" id="removefeedgroupmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Enter group and date to remove feed from:</h4>
            </div>
            <div class="modal-body">
                <label>
                    Group: <select id="removegroupdropdown" class="form-control">@Html.Raw(ViewBag.Groups)</select>
                </label>
                <label>
                    Date to remove: @Html.Raw(removegroupdatedropdown)
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary " data-bind="click:RemoveFeedGroup">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lowweightalert" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Low weight alert</h4>
            </div>
            <div class="modal-body alert alert-danger">
                The weights of the following animals have reached 85% of their base weight:
                <ul data-bind="foreach: LowWeightAnimals">
                    <li data-bind="text:name"></li>
                </ul>
                <br />
                <strong>Increase food amount</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger " data-bind="click:Finish">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PhotoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title animal-photo-name"></h3>
            </div>
            <div class="animal-picture-modal"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function loadModalImage(id, name) {
            $('.animal-photo-name').text(name);
            $('.animal-picture-modal').html('<img src="@Url.Content("~/Content/AnimalImages/")' + id + '.jpg" width="600" height="400" alt="Loading..." />');
            $('#PhotoModal').modal();
            return false;
        }


        $('#btnFinish,#btnPrevious,#btnGroup').attr('disabled', 'disabled');
        $('#visualCheck').change(function() {
            if ($('#visualCheck')[0].checked) {
                $('#btnFinish,#btnPrevious,#btnGroup').removeAttr('disabled');
                $('#btnFinish,#btnPrevious,#btnGroup').removeClass('btn-danger');
                $('#btnFinish,#btnPrevious,#btnGroup').addClass('btn-success');

            } else {
                $('#btnFinish,#btnPrevious,#btnGroup').attr('disabled', 'disabled');
                $('#btnFinish,#btnPrevious,#btnGroup').addClass('btn-danger');
                $('#btnFinish,#btnPrevious,#btnGroup').removeClass('btn-success');
            }
        });



    </script>
    @Scripts.Render("~/bundles/knockout")
    <script>
        function vm() {
            var self = this;

            self.FeedGroup = function () {
                var feedvalue = $('#feedgroupvalue').val();
                var groupname = $('#groupdropdown').val();
                if (groupname !== '') {
                    $('div.col-md-2').each(function (index, column) {
                        if ($(column).find('.groupname td span').html().replace('&nbsp;', '').trim() == groupname) {
                            $('input[id^="Animals_' + index + '__Feeds_' + $('#groupdatedropdown').val() + '__FeedAmount"]').val(feedvalue);
                            $('input[id^="Animals_' + index + '__Feeds_' + $('#groupdatedropdown').val() + '__CombinedFeed"]').val('true');
                        }
                    });
                    self.Finish();
                } else {
                    $('#feedgroupmodal').modal('hide');
                }
            };

            self.RemoveFeedGroup = function () {
                var groupname = $('#removegroupdropdown').val();
                if (groupname != '') {
                    $('div.col-md-2').each(function (index, column) {
                        if ($(column).find('.groupname td span').html().replace('&nbsp;', '').trim() == groupname) {
                            $('input[id^="Animals_' + index + '__Feeds_' + $('#removegroupdatedropdown').val() + '__FeedAmount"]').val('');
                            $('input[id^="Animals_' + index + '__Feeds_' + $('#removegroupdatedropdown').val() + '__CombinedFeed"]').val('false');
                        }
                    });
                    self.Finish();
                } else {
                    $('#removefeedgroupmodal').modal('hide');
                }
            };

            self.FeedPrevious = function () {
                var feedamount, feedtype = false, feedinput;

                $.each($('.col-md-2 .feedingtable table'), function (i, el) {
                    $.each($(el).find('input[id$=__FeedAmount]'), function (j, el2) {
                        if ($(el2).val() !== '') {
                            feedamount = $(el2).val();
                            feedtype = $(el2).siblings('input').val();
                        }
                    });
                    $(el).find('input[id$=__FeedAmount]').last().val(feedamount);
                    $(el).find('input[id$=__CombinedFeed]').last().val(feedtype);
                });
                self.Finish();
            };

            self.LowWeightAnimals = ko.observableArray();

            self.SaveAndFinish = function () {
                self.LowWeightAnimals.removeAll();
                $.each($('div.col-md-2'), function (index, column) {
                    var animalid = $(column).find('.uniqueanimalid b').html().trim();
                    var animalweight = $(column).find('.baseweight').html().replace('g', '').trim();
                    var result = false;

                    var lastWeight = $(column).find('input[id$=__Weight]').filter(function (i, el) { return $(el).val() !== "" }).last().val();
                    if (lastWeight != "" && parseInt(animalweight, 10) * .85 > parseInt(lastWeight, 10)) {
                        var animal = { name: animalid };
                        if (self.LowWeightAnimals.indexOf(animal) < 0) {
                            self.LowWeightAnimals.push(animal);
                        }
                    }
                });
                if (self.LowWeightAnimals().length == 0) {
                    self.Finish();
                } else {
                    $('#lowweightalert').modal('show');
                }
            };

            self.Finish = function () {
                $('#state').val('finish');
                // convert all ff's into -1's
                $('input[name$="FeedAmount"]').each(function (i, j) {
                    if ($(j).val() === 'ff') {
                        $(j).val(-1);
                    }
                });
                document.forms[1].submit();
            };
        }
        ko.applyBindings(new vm());

        $('.combinedfeed .feed').keyup(function (e) {
            var newvalue = e.target.value;
            var feedid = e.target.id;
            feedid = feedid.slice(0, feedid.lastIndexOf("_") - 1);
            feedid = feedid.slice(feedid.lastIndexOf("_") + 1);
            var currentgroupname = $(e.target).parents('.col-md-2').find('.groupname td span').html().replace('&nbsp;', '').trim();
            $.each($('.col-md-2'), function (i, j) {
                if ($(j).find('.groupname td span').html().replace('&nbsp;', '').trim() === currentgroupname) {
                    $(j).find($('input[id$="__Feeds_' + feedid + '__FeedAmount"]')).val(newvalue);
                }
            });
        });

        var currentGroup = '';
        var previousGroup = '';
        var previousElement = null;
        $.each($('.groupname td'), function (i, j) {
            currentGroup = $(j).find('span').html().replace('&nbsp;', '').trim();
            if (currentGroup != '') {
                if (currentGroup != previousGroup) {
                    $(j).addClass('start');
                } else if (currentGroup == previousGroup) {
                    $(j).addClass('middle');
                }
            }
            if (currentGroup != '' && currentGroup != previousGroup && previousGroup != '' && previousElement != null) {
                $(previousElement).addClass('end');
            }
            previousElement = j;
            previousGroup = currentGroup;
        });
        if (currentGroup != '' && previousElement != null) {
            $(previousElement).addClass('end');
        }

        // convert all -1's into -ff's
        $('input[name$="FeedAmount"]').each(function (i, j) {
            if ($(j).val() === '-1') {
                $(j).val('ff');
            }
        });

        $('.col-md-2 .start').parents('.col-md-2').find('.feed').css('display', 'inline');
        $('.col-md-2 .start').parents('.col-md-2').find('.combinedfeedmsg').css('display', 'none');
        $('.col-md-2 .start').parents('.col-md-2').addClass('start-group-separator');
        $('.col-md-2 .end').parents('.col-md-2').addClass('end-group-separator');

        $('#groupdatedropdown option:last, #removegroupdatedropdown option:last').attr('selected', 'selected');

        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    </script>
}