@model AnimalDB.Web.Models.FeedViewModel

<h3>
    KEY: <span class="btn btn-navy ">All animals checked today</span>&nbsp;<span class="btn btn-info ">Some animals checked today</span>&nbsp;<span class="btn btn-warning ">No animals checked today</span>
</h3>
<hr />
<h2>Select Room:</h2>

<table class="table table-striped table-hover select-room">

    <thead>
        <tr>
            <th>
                Room
            </th>
            <th>
                Total Animals
            </th>
            <th>
                Stock Animals
            </th>
            <th>
                GMO Animals
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Rooms)
    {
    <tr>
        <td>
            @Html.ActionLink(item.RoomName, "Groups", new { id = item.RoomId }, new { @class = "btn  " + item.ClassList })
        </td>
        <td>
            @item.TotalAnimals Animals
        </td>
        <td>
            @if (item.StockAnimals == 1)
            {
                @item.StockAnimals <text>Stock Animal</text>
            }
            else if (item.StockAnimals != 0)
            {
                @item.StockAnimals <text>Stock Animals</text>
            }
        </td>
        <td>
            @if (item.GMOAnimals == 1)
            {
                @item.GMOAnimals <text>GMO Animal</text>
            } else if (item.GMOAnimals != 0)
            { 
                @item.GMOAnimals <text>GMO Animals</text>
            }
        </td>

    </tr>
    }
</table>
<hr />
<h4>Total Animals: @Model.TotalAnimals</h4>
