@model IEnumerable<AnimalDB.Repo.Entities.Group>


<h3>@Html.ActionLink("Back", "Group", "FeedingGroup", new { id = ViewBag.FeedingGroupId }, new { @class = "btn btn-primary" })</h3>

<h2>Sub-Groups for @ViewBag.FeedingGroupName</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.FeedingGroupId }, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
            @if (item.Animals.Count() == 1) {
                <text>(</text>@item.Animals.Count() <text>animal)</text>
            } else {
                <text>(</text>@item.Animals.Count() <text>animals)</text>
            }
        </td>
        <td>
            @*
            @Html.ActionLink("View / Edit Animals", "AddTo", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })*@
            @Html.ActionLink("Edit Sub-Group Name", "Edit", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
            @Html.ActionLink("X", "Delete", new { id = item.Id }, new { @class = "btn  btn-danger" })
        </td>
    </tr>
}

</table>
