@model IEnumerable<AnimalDB.Repo.Entities.VirusType>

<h3>@Html.ActionLink("Back to Admin", "Index", "Admin", null, new { @class = "btn btn-primary" })</h3>

<h2>Virus Types</h2>

<p>
    @Html.ActionLink("Create New Virus Type", "Create", null, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark " }) @*|
                        @Html.ActionLink("X", "Delete", new { id = item.Id }, new { @class = "btn btn-danger " })*@
                </td>
            </tr>
        }
    </tbody>
</table>
