@using AnimalDB.Repo.Enums
@model AnimalDB.Models.MenuViewModel

<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item @Model.a">@Html.ActionLink("Animals", "Index", "Home", null, new { @class = "nav-link" })</li>
        @if (Model.UserRole != UserType.Veterinarian)
        {
            <li class="nav-item @Model.w">@Html.ActionLink("Feeding", "Index", "Feed", null, new { @class = "nav-link" })</li>
            <li class="nav-item @Model.f">@Html.ActionLink("Groups", "Index", "FeedingGroup", null, new { @class = "nav-link" })</li>
            if (Model.UserRole != UserType.Student)
            {
                <li class="nav-item @Model.ad">@Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link" })</li>
            }
        }
        <li class="nav-item @Model.d">@Html.ActionLink("Documents", "Index", "DocumentCategories", null, new { @class = "nav-link" })</li>
        <li class="nav-item @Model.s">@Html.ActionLink("SOP", "Index", "SOPCategories", null, new { @class = "nav-link" })</li>
        <li class="nav-item @Model.v">
            @Html.ActionLink("Vet Schedule", "Index", "VetSchedules", null, new { @class = "nav-link" })
            @if (Model.UserRole == UserType.Administrator || Model.UserRole == UserType.Technician)
            {
            <li class="nav-item @Model.n"><a class="nav-link" href="@Url.Action("Index", "Notifications")">Alerts&nbsp;&nbsp;@if (Model.NotificationAmount != 0)
            {<span class="badge bg-success">@Model.NotificationAmount</span>}</a></li>
        }
        </ul>
    @Html.Partial("_LoginPartial")
    </div>
