@using AnimalDB.Repo.Enums
@model AnimalDB.Repo.Entities.AnimalManipulationReport

<h3>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
    <a class="btn btn-primary noprint" href="#" onclick="javscript: printreport()">Print</a>
</h3>

<div class="printmanipulationreport">
    <h2>Animal Manipulation Figures <span class="small">Period: January @Model.PeriodFrom.Year to December @Model.PeriodTo.Year</span></h2>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "manipulationreport" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Timestamp)
            @Html.HiddenFor(m => m.PeriodFrom)
            @Html.HiddenFor(m => m.PeriodTo)
            @Html.HiddenFor(m => m.Investigator_Id)
            @Html.HiddenFor(m => m.Species_Id)
            @Html.HiddenFor(m => m.ProtocolNumber)
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.Investigator_Id, "Name/Institution:", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.DisplayFor(model => model.Investigator.FullName) / Psychology, University of Otago
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Species, "Animal Type:", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DisplayFor(model => model.Species.Description)
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.ProtocolNumber, "Protocol #:", htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.ProtocolNumber)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Source of Animals</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("Breeding Unit", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.BreedingUnit.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.BreedingUnit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BreedingUnit, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Commercial", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.Commercial.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Commercial, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Commercial, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Farm", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.Farm.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Farm, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Farm, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Born During Project", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.BornDuringProject.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.BornDuringProject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BornDuringProject, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Captured", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.Captured.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Captured, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Captured, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Imported into New Zealand", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.ImportedIntoNZ.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Imported, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Imported, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Public Sources", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "sourceType", identifier = SourceType.PublicSources.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.PublicSources, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PublicSources, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>@Html.EditorFor(model => model.TotalSource, new { htmlAttributes = new { @class = "form-control" } })</td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>
                                    Status of Animals
                                </th>
                                <th>
                                    No. Used
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("Normal / Conventional", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.Normal_Conventional.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NormalConventional, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NormalConventional, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("SPF / Germ Free", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.SPF_GermFree.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SPFGermFree, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SPFGermFree, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Diseased", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.Diseased.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Diseased, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Diseased, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Transgenic / Chimera", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.Transgenic_Chimera.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.TransgenicChimera, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TransgenicChimera, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Protected Species", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.ProtectedSpecies.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProtectedSpecies, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProtectedSpecies, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Unborn / Pre-hatched", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.Unborn_Prehatched.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.UnbornPrehatched, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UnbornPrehatched, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Other", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "arrivalStatusType", identifier = ArrivalStatusType.Other.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.OtherStatus, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtherStatus, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Purpose</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("Teaching", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.Teaching.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Teaching, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Teaching, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Species Conservation", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.SpeciesConservation.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SpeciesConservation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SpeciesConservation, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Environmental Management", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.EnvironmentalManagement.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.EnvironmentalManagement, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EnvironmentalManagement, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Animal Husbandry", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.AnimalHusbandry.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.AnimalHusbandry, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnimalHusbandry, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Basic Biological Research", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.BasicBiologicalResearch.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.BasicBiologicalResearch, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BasicBiologicalResearch, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Medical Research", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.MedicalResearch.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MedicalResearch, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MedicalResearch, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Veterinary Research", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.VeterinaryResearch.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.VeterinaryResearch, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VeterinaryResearch, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Testing", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.Testing.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Testing, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Testing, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Production of Biological Agents", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.ProductionOfBiologicalAgents.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProductionOfBiologicalAgents, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductionOfBiologicalAgents, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Development of Alternatives", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.DevelopmentOfAlternatives.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DevelopmentOfAlternatives, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DevelopmentOfAlternatives, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Producing offspring with potential for compromised welfare", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.ProducingOffspringWithPotentialForCompromisedWelfare.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ProducingOffspringWithPotentialForCompromisedWelfare, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProducingOffspringWithPotentialForCompromisedWelfare, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Other", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "manipulation", identifier = Manipulation.Other.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.OtherManipulation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OtherManipulation, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Re-use</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("No Prior Use", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "priorUse", identifier = "no" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NoPriorUse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoPriorUse, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Previously Used", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "priorUse", identifier = "yes" })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.PreviouslyUsed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PreviouslyUsed, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Grading</th>
                                <th>No. Approved</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("No Impact", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "grading", identifier = Grading.NoSuffering.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NoSufferingApproved, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoSufferingApproved, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NoSuffering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoSuffering, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Little Impact", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "grading", identifier = Grading.LittleSuffering.ToString() })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.LittleSufferingApproved, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LittleSufferingApproved, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LittleSuffering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LittleSuffering, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Moderate Impact", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "grading", identifier = Grading.ModerateSuffering.ToString() })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.ModerateSufferingApproved, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ModerateSufferingApproved, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ModerateSuffering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ModerateSuffering, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("High Impact", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "grading", identifier = Grading.SevereSuffering.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SevereSufferingApproved, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SevereSufferingApproved, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SevereSuffering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SevereSuffering, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Very High Impact", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "grading", identifier = Grading.VerySevereSuffering.ToString() })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.VerySevereSufferingApproved, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VerySevereSufferingApproved, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.VerySevereSuffering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VerySevereSuffering, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Alive</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.ActionLink("Retained [by your institution]", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "aliveStatus", identifier = AliveStatus.Retained_ByYourInstitution.ToString() })

                            </td>
                            <td>
                                @Html.EditorFor(model => model.RetainedByInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RetainedByInstitution, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Returned [to owner]", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "aliveStatus", identifier = AliveStatus.Returned_ToOwner.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ReturnedToOwner, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReturnedToOwner, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Released [to the wild]", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "aliveStatus", identifier = AliveStatus.Released_ToTheWild.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ReleasedToTheWild, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReleasedToTheWild, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.ActionLink("Disposed of [to others e.g. works]", "ViewAnimals", new { ethics_Id = ViewBag.Ethics_Id, category = "aliveStatus", identifier = AliveStatus.DisposedOf_ToOthers.ToString() })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DisposedOf, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DisposedOf, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="totalalive" class="control-label">Total Alive</label>
                            </th>
                            <td>
                                @Html.EditorFor(model => model.TotalAlive, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <thead>
                            <tr>
                                <th>Dead</th>
                                <th>No. Used</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.TotalDead, htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.TotalDead, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TotalDead, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8 table-bold">
                        <tr>
                            <td>
                                <label for="total" class="control-label">Total Manipulated / Used</label>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.TotalUsed, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8">
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.NilReturn, htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NilReturn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NilReturn, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table-bordered offset-md-2 col-md-8 footer">
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.CompletedBy, htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.CompletedBy, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompletedBy, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.Designation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Create" class="btn  btn-outline-dark" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        function printreport() {
            print_window = window.open("", "printwindow", "status=1,width=700,height=842");
            print_window.document.write('<html><head>');
            print_window.document.write('<title>Animal Manipulation Report</title>');
            print_window.document.write('<link href="@Styles.Url("~/Content/printcss")" rel="stylesheet" />');
            print_window.document.write('<link href="@Styles.Url("~/Content/printcss2")" rel="stylesheet" media="print" />');
            print_window.document.write('</head>');
            print_window.document.write('<body onload="window.print()"><div class="noprint">');
            print_window.document.write('<button onclick="window.close()">Close Preview</button>');
            print_window.document.write('</div>');
            print_window.document.write($('<div />').append($('.printmanipulationreport').clone()).html());
            print_window.document.write('<script src="@Scripts.Url("~/bundles/jquery")"><' + '/script>');
            print_window.document.write('<script>$("input, textarea").attr("readonly", "readonly");$("select").attr("disabled", true);<' + '/script>');
            print_window.document.write('</body></html>');
            print_window.document.close();
            print_window.focus();
        }
    </script>
}