@model AnimalDB.Models.EthicsNumberViewModel
@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Back</a>
}

<h2>Select AUP Number:</h2>

@using (Html.BeginForm("Create", null, FormMethod.Get))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, "AUP Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ethics_Id", null, "", htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn  btn-outline-dark">Continue</button>
            </div>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
