@model IEnumerable<AnimalDB.Models.ViewAnimalManipulationReportViewModel>


@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Create", new { Ethics_Id = Request["Ethics_Id"] })"><i class="fas fa-arrow-left"></i> Back to Report</a>
}

<table class="table table-hover">
    @if (User.IsInRole("Administrator"))
    {
        <thead class="thead-dark">
            <tr>
                <th colspan="2" class="">
                    <form id="recategorizeForm" method="get" action="@Url.Action("BulkChange")">
                        <input type="hidden" name="returnUrl" value="@Url.Action()" />
                        <input type="hidden" name="Ethics_Id" value="@Request["ethics_Id"]" />
                        <button id="toggleAll" class="btn btn-outline-light">Toggle All</button>
                        <button id="selectAll" class="btn btn-outline-light">Select All</button>
                        <button id="selectNone" class="btn btn-outline-light">Select None</button>
                        <button id="recategorizeSeleceted" class="btn btn-outline-light">Recategorize Selected</button>
                    </form>
                </th>
                <th></th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.Animal.UniqueAnimalId))
        {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td class="col-md-1">
                        @Html.CheckBoxFor(modelItem => item.Change, new { data_id = item.Animal.Id })
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.UniqueAnimalId)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", "Animals", new { id = item.Animal.Id }, null)
                </td>
            </tr>
        }
    <tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/editManipulationReportAnimals.js")
}