@model IEnumerable<AnimalDB.Repo.Entities.SurgicalNote>


<h2>Surgical Notes for @ViewBag.AnimalName</h2>

@Html.Partial("_AnimalHeaderPartial")
<p>
    @Html.ActionLink("Create New Surgical Note", "Create", new { id=ViewBag.AnimalId }, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Surgeon
            </th>
            <th>
                Surgery type
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model.OrderByDescending(m => m.Timestamp)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surgeon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurgeryType.Description) @if (item.VirusType != null) { <text>(</text>@item.VirusType.Description<text>)</text> }
        </td>
        <td>
            @Html.ActionLink("Follow up", "FollowUps", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
            @if (!User.IsInRole("Student")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
            @Html.ActionLink("X", "Delete", new { id = item.Id }, new { @class = "btn  btn-danger" })
            }
        </td>
    </tr>
}

</table>
