@model IEnumerable<AnimalDB.Repo.Entities.Transgene>

@section BackNav {
    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index", "Admin")"><i class="fas fa-arrow-left"></i> Back to Admin</a>
}

<h2>Transgene IDs</h2>

<p>
    @Html.ActionLink("Create New Transgene ID", "Create", null, new { @class = "btn  btn-outline-dark" })
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn  btn-outline-dark" })
                    @if (item.Animals.Count() == 0)
                    {
                        @Html.ActionLink("X", "Delete", new { id = item.Id }, new { @class = "btn  btn-outline-danger" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
